{{/* People Widget */}}

{{/* Get parameters from the page section */}}
{{ $params := .Params }}
{{ $user_groups := $params.content.user_groups | default (slice) }}
{{ $show_social := $params.design.show_social | default false }}
{{ $show_interests := $params.design.show_interests | default false }}
{{ $show_role := true }}  {{/* Always show role */}}
{{ $show_organizations := false }}

<div class="row justify-content-center people-widget">
  
  {{/* Section heading */}}
  {{ with $params.title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $params.subtitle }}<p>{{ $params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{/* Section content (optional markdown) */}}
  {{ with $params.content.markdown }}
  <div class="col-md-12">
    {{ . | markdownify }}
  </div>
  {{ end }}

  {{/* Loop over each user group */}}
  {{ range $group := $user_groups }}

    {{/* Query authors who belong to this group */}}
    {{ $authors := where site.Pages "Section" "authors" }}
    {{ $authors := where $authors ".Params.user_groups" "intersect" (slice $group) }}

    {{ if gt (len $authors) 0 }}
    <div class="col-md-12">
      <h2 class="mb-4">{{ $group }}</h2>
    </div>

    {{ range $authors }}
    {{ $author := . }}
    {{ $avatar := (.Resources.ByType "image").GetMatch "avatar*" }}

    {{/* Link to author page */}}
    {{ $link := "" }}
    {{ with site.GetPage (printf "/authors/%s" (path.Base .File.Dir)) }}
      {{ $link = .RelPermalink }}
    {{ end }}

    <div class="col-12 col-sm-auto people-person">

      {{/* Avatar image */}}
      {{ $src := "" }}
      {{ if $avatar }}
        {{ $img := $avatar.Fill "270x270 Center" }}
        {{ $src = $img.RelPermalink }}
      {{ end }}

      {{ if $src }}
        <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="{{ $src }}" alt="Avatar">
      {{ end }}

      <div class="portrait-title">
        {{/* Name / link */}}
        <h2>{{ with $link }}<a href="{{ . }}">{{ end }}{{ .Title }}{{ with $link }}</a>{{ end }}</h2>

        {{/* Role */}}
        {{ if and $show_role .Params.role }}
          <h3>{{ .Params.role | markdownify | emojify }}</h3>
        {{ end }}

        {{/* Organizations */}}
        {{ if and $show_organizations .Params.organizations }}
          {{ range .Params.organizations }}
            <h3>{{ .name }}</h3>
          {{ end }}
        {{ end }}

        {{/* Interests */}}
        {{ if and $show_interests .Params.interests }}
          <p class="people-interests">{{ delimit .Params.interests ", " | markdownify | emojify }}</p>
        {{ end }}

        {{/* Social links */}}
        {{ if $show_social }}
          {{ partial "social_links.html" . }}
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  {{ end }}

  <div>
      <h3>And our <a href="/people-uoftactuarial/#alumni">alumni</a></h3>
  </div>

</div>
    
    

